<div class="row">
  <div class="col-md-12 col-sm-12">
      <div class="bannerWrapper">
      <div class="box">
          <div class="logo">
          <p class="text-center" id="hotelIcon"><i class="fa fa-hotel text-center" id="hotelSvg"></i></p><br><br>
          <h1 class="text-center" id="bannerHeader">Welcome to Egumbini hotels!</h1>
          <p class="text-center" id="bannertext">Browse Through our vast array of beautiful spacicous suites</p>
      </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
      <div class="col-md-12">
      <h1 class="text-center">Our Specialty</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing 
          elit. Autem ipsam in ipsa ipsum unde 
          fugit esse totam odio debitis dicta 
          porro atque perspiciatis quam maiores, 
          laboriosam quaerat exercitationem omnis 
          iste!Lorem ipsum dolor sit amet consectetur adipisicing 
          elit. Autem ipsam in ipsa ipsum unde 
          fugit esse totam odio debitis dicta 
          porro atque perspiciatis quam maiores, 
          laboriosam quaerat exercitationem omnis 
          iste!Lorem ipsum dolor sit amet consectetur adipisicing 
          elit. Autem ipsam in ipsa ipsum unde 
          fugit esse totam odio debitis dicta 
          porro atque perspiciatis quam maiores, 
          laboriosam quaerat exercitationem omnis 
          iste!Lorem ipsum dolor sit amet consectetur adipisicing 
          elit. Autem ipsam in ipsa ipsum unde 
          fugit esse totam odio debitis dicta 
          porro atque perspiciatis quam maiores, 
          laboriosam quaerat exercitationem omnis 
          iste!Lorem ipsum dolor sit amet consectetur adipisicing 
          elit. Autem ipsam in ipsa ipsum unde 
          fugit esse totam odio debitis dicta 
          porro atque perspiciatis quam maiores, 
          laboriosam quaerat exercitationem omnis 
          iste!Lorem ipsum dolor sit amet consectetur adipisicing 
          elit. Autem ipsam in ipsa ipsum unde 
          fugit esse totam odio debitis dicta 
          porro atque perspiciatis quam maiores, 
          laboriosam quaerat exercitationem omnis 
          iste!</p> 
      </div>

      <div class="col-md-12">
          <h1 class="text-center">Our Promise</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Autem ipsam in ipsa ipsum unde 
              fugit esse totam odio debitis dicta 
              porro atque perspiciatis quam maiores, 
              laboriosam quaerat exercitationem omnis 
              iste!</p> 
          </div>
      </div>
  </div>
</div>


