<div class="headingText text-center">
    <h1>Our suites</h1>
    <h4>Take your pick of our world class quality suites we have on offer!</h4><br>
</div>

<div class="container">
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">All Hotels</a></li>
    <li role="presentation"><a href="#">5 Star</a></li>
    <li role="presentation"><a href="#">Less than 5</a></li>
</ul><br>
<div class="media-object-default">
    <div class="media">
        <div class="media-left"><a href="#"><img class="media-object" src="assets\Hotel-Suite_05.jpg" alt="hotel suite"></a></div>
        <div class="media-body">
        <h4 class="media-heading">Hotel Belladonna</h4>
        <p class="text-danger">**Special Offer**</p>
        <p>
        This is one of our greatest and most exquisite suites that is a 5 star suite with an ensuite, a swimming pool, jacuzzi, 
        bar with an unlimited tab and more bells and whistle that one would ever desire. A must get for all bachelors looking to 
        have fun on a vaction or weekend away</p><h4>Price: R1500p/n pp</h4> <button class="btn btn-success">Book Now!!</button></div>
    </div>   
</div><br>
<div class="media-object-default">
    <div class="media">
        <div class="media-left"><a href="#"><img class="media-object" src="../../assets/5.jpg" alt="hotel suite"></a></div>
        <div class="media-body">
        <h4 class="media-heading">Hotel Villa Rosa</h4>
        <p>
            This is one of our greatest and most exquisite suites that is a 5 star suite with an ensuite, a swimming pool, 
            jacuzzi, bar with an unlimited tab and more bells and whistle that one would ever desire. A must get for all bachelors 
            looking to have fun on a vaction or weekend away</p><h4>Price: R4579p/n pp</h4> <button class="btn btn-success">Book Now!!</button></div>
    </div>   
</div><br>
<div class="media-object-default">
    <div class="media">
        <div class="media-left"><a href="#"><img class="media-object" src="../../assets/hannah-busing-310234-unsplash.jpg" alt="hotel suite"></a></div>
        <div class="media-body">
        <h4 class="media-heading">Hotel Mhlangeni</h4><p class="text-danger">*Special Offer*</p>
        <p>
        This is one of our greatest and most exquisite suites that is a 5 star suite with an ensuite, a swimming pool, 
        jacuzzi, bar with an unlimited tab and more bells and whistle that one would ever desire. A must get for all bachelors 
        looking to have fun on a vaction or weekend away</p><h4>Price: <span class="text-success">  R5000p/n</span> pp  Was: <span class="text-danger">R7500</span></h4> <button class="btn btn-success">Book Now!!</button></div>
    </div>   
</div><br>
<div class="media-object-default">
    <div class="media">
        <div class="media-left"><a href="#"><img class="media-object" src="../../assets/justin-schuler-253611-unsplash.jpg" alt="hotel suite"></a></div>
        <div class="media-body">
        <h4 class="media-heading">Hotel Khaya</h4>
        <p>
            This is one of our greatest and most exquisite suites that is a 5 star suite with an ensuite, a swimming pool, 
            jacuzzi, bar with an unlimited tab and more bells and whistle that one would ever desire. A must get for all bachelors 
            looking to have fun on a vaction or weekend away</p><h4>Price: R6000p/n pp</h4> <button class="btn btn-success">Book Now!!</button></div>
    </div>   
</div>
</div><br>