<h1>Our suites</h1>

<div class="media-object-default">
    <div class="media">
        <div class="media-left"><a href="#"><img class="media-object" src="assets\Hotel-Suite_05.jpg" alt="hotel suite"></a></div>
        <div class="media-body">
        <h4 class="media-heading">Hotel Belladonna</h4>
        This is one of our greatest and most exquisite suites that is a 5 star suite with an ensuite, a swimming pool, jacuzzi, bar with an unlimited tab and more bells and whistle that one would ever desire. A must get for all bachelors looking to have fun on a vaction or weekend away</div>
    </div>   
</div>
<div class="media-object-default">
    <div class="media">
        <div class="media-left"><a href="#"><img class="media-object" src="" alt="hotel suite"></a></div>
        <div class="media-body">
        <h4 class="media-heading">Hotel Belladonna</h4>
        This is one of our greatest and most exquisite suites that is a 5 star suite with an ensuite, a swimming pool, jacuzzi, bar with an unlimited tab and more bells and whistle that one would ever desire. A must get for all bachelors looking to have fun on a vaction or weekend away</div>
    </div>   
</div>